{
  "templateName": "{{ item.Device_Template_Name }}",
  "templateDescription": "{{ item.Device_Template_Description }}",
  "deviceType": "vedge-cloud",
  "configType": "template",
  "factoryDefault": false,
  "policyId": "",
  "featureTemplateUidRange": [],
  "connectionPreferenceRequired": true,
  "connectionPreference": true,
  "generalTemplates": [
    {
      "templateId": "{{feature_template_db[item.Feature_AAA]}}",
      "templateType": "aaa"
    },
    {
      "templateId": "{{feature_template_db[item.Feature_BFD]}}",
      "templateType": "bfd-vedge"
    },
    {
      "templateId": "{{feature_template_db[item.Feature_OMP]}}",
      "templateType": "omp-vedge"
    },
    {
      "templateId": "{{feature_template_db[item.Feature_Security]}}",
      "templateType": "security-vedge"
    },
    {
      "templateId": "{{feature_template_db[item.Feature_System]}}",
      "templateType": "system-vedge",
      "subTemplates": [
        {
          "templateId": "{{feature_template_db[item.Feature_Logging]}}",
          "templateType": "logging"
        }
      ]
    },

{% for VPN_Section in  item.Feature_VPN  %}

{% for VPN_Name,Interface_Lists in  VPN_Section.items()  %}

    {
      "templateId": "{{feature_template_db[VPN_Name]}}",
      "templateType": "vpn-vedge",
      "subTemplates": [

{% for interface in  Interface_Lists %}
        {
          "templateId": "{{feature_template_db[interface]}}",
          "templateType": "vpn-vedge-interface"
        },
{% endfor %}

        ]
    },

{% endfor %}

{% endfor %}
    {
      "templateId": "{{feature_template_db[item.Feature_Banner]}}",
      "templateType": "banner"
    },
    {
      "templateId": "{{feature_template_db[item.Feature_SNMP]}}",
      "templateType": "snmp"
    }
  ]
}