{
   "templateName":"{{ item.name }}",
   "templateDescription": "{{ item.description }}",
   "templateType":"banner",
   "deviceType":[
      "vedge-5000",
      "vedge-cloud",
      "vedge-1000",
      "vedge-2000",
      "vedge-100",
      "vedge-100-B",
      "vedge-100-WM",
      "vedge-100-M",
      "vmanage",
      "vsmart"
   ],
   "factoryDefault":false,
   "templateMinVersion":"15.0.0",
   "templateDefinition":{
      "login":{
         "vipObjectType":"object",
{% if 'login' in item %}
{% if 'variableName' in item.login %}
         "vipType":"variableName",
         "vipVariableName":"{{ item.login.variableName }}"
{% else %}
         "vipType":"constant",
         "vipValue": "{{ item.login }}",
{% endif %}
{% else %}
         "vipType":"ignore",
{% endif %}
      },
      "motd":{
         "vipObjectType":"object",
{% if 'motd' in item %}
         "vipType":"constant",
         "vipValue": "{{ item.motd }}",
{% else %}
         "vipType":"ignore",
{% endif %}
         "vipVariableName":"banner_motd"
      }
   }
}