{
  "templateName": "{{ item.Device_Template_Name }}",
  "templateDescription": "{{ item.Device_Template_Description }}",
  "deviceType": "vedge-cloud",
  "configType": "template",
  "factoryDefault": false,
  "policyId": "",
  "featureTemplateUidRange": [],
  "connectionPreferenceRequired": true,
  "connectionPreference": true,
  "generalTemplates": [
    {
      "templateName": "{{item.Feature_AAA}}",
      "templateType": "aaa"
    },
    {
      "templateName": "{{item.Feature_BFD}}",
      "templateType": "bfd-vedge"
    },
    {
      "templateName": "{{item.Feature_OMP}}",
      "templateType": "omp-vedge"
    },
    {
      "templateName": "{{item.Feature_Security}}",
      "templateType": "security-vedge"
    },
    {
      "templateName": "{{item.Feature_System}}",
      "templateType": "system-vedge",
      "subTemplates": [
        {
          "templateName": "{{item.Feature_Logging}}",
          "templateType": "logging"
        }
      ]
    },

{% for VPN_Section in  item.Feature_VPN  %}

{% for VPN_Name,Interface_Lists in  VPN_Section.items()  %}

    {
      "templateName": "{{VPN_Name}}",
      "templateType": "vpn-vedge",
      "subTemplates": [

{% for interface in  Interface_Lists %}
        {
          "templateName": "{{interface}}",
          "templateType": "vpn-vedge-interface"
        },
{% endfor %}

        ]
    },

{% endfor %}

{% endfor %}
    {
      "templateName": "{{item.Feature_Banner}}",
      "templateType": "banner"
    },
    {
      "templateName": "{{item.Feature_SNMP}}",
      "templateType": "snmp"
    }
  ]
}